/*En kommentar*/


body {
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    display: flex;
    justify-content: center;
}
h2{
    padding: 5%;

}

img{
    width: 200px;
    border-radius: 15px;
}

div{
    background-color: lightblue;
    border-radius: 15px;
    width: fit-content;
}
p{
    border-width: 400px;
}