body{
    background-image: linear-gradient(to right, #a0a1a2, #303030);

border-radius: 30px;
display: flex;
justify-content: center;
}


button {
    width: 60px;
}

.flex-container {
    display: flex;
    background-color:azure;
    width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
    height: 300px;

}



p {
    font-family:Arial, Helvetica, sans-serif;
}